/*******************
Main sidebar
******************/

.left-sidebar {
    position: absolute;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 20;
    padding-top: 60px;
}

.fix-sidebar .left-sidebar {
    position: fixed;
}



/*******************
use profile section
******************/

.user-profile {
    position: relative;
    background-size: cover;

    .setpos {
        top: -47px;
        right: -3px;
    }
    .profile-img {
        width: 70px;
        margin: 0 auto;
        padding: 10px 0 5px 0;
        border-radius: 100%;
        img {
            width: 100%;
            padding: 5px;
            border: 1px solid $border;
            border-radius: 100%;
        }
    }
    .profile-text {
        padding: 20px 0 5px;
        position: relative;
        text-align: center;
        >a {
            padding: 0 5px;
            &:after {
                display: none;
            }
            >i{
                font-size: $font-size-xl;
            }
        }
    }
    .profile-trigger{
        display: none;
        text-align: center;
        position: relative;
        top: 8px;
    }
    .dropdown-menu {
        left: 0;
        right: 0;
        top: 62px!important;
        width: 180px;
        margin: 0 auto;
        display: none; //TODO: show user menu
    }
}



/*******************
sidebar footer
******************/

.sidebar-footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    transition: 0.2s ease-out;
    width: 240px;
    border-top-width: 1px;
    border-top-style: solid;
    a {
        padding: 15px;
        width: 33.333337%;
        float: left;
        text-align: center;
        font-size: 18px;
    }
}



/*******************
sidebar navigation
******************/

.scroll-sidebar {
    padding-bottom: 60px;
}

.sidebar-nav {
    padding: 0;

    // all levels
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            a {
                display: block;
                font-size: $font-size-sm;
            }
            &.nav-devider {
                height: 1px;
                display: block;
                margin: 20px 0;
            }
        }
    }

    // first level
    >ul {
        >li {
            a {
                padding: 8px 35px 8px 10px;
                i{
                    width: 27px;
                    font-size: $font-size-xl;
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .has-arrow {
                position: relative;
                text-align: initial;

                &:after {
                    content: "";
                    position: absolute;
                    right: 1em;
                    top: 47%;
                    width: 7px;
                    height: 7px;
                    border-width: 1px 0 0 1px;
                    border-style: solid;
                    transform-origin: top;
                    transform: rotate(135deg) translate(0, -50%);
                    transition: all .3s ease-out;
                }
            }

            &.active{
                .has-arrow{
                    border-width: 0 0 0 3px;
                    border-style: solid;

                    &:after{
                        //top: 45%;
                        transform: rotate(-135deg) translate(0, -50%);
                    }
                }

                >.collapse {
                    display: block;
                }
            }

            // second level
            >ul{
                padding-left: 34px;

                li {
                    margin-bottom: 5px;

                    a {
                        padding: 7px 35px 7px 10px;

                        i {
                            width: 27px;
                            font-size: 19px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }

                    &.active {
                        > a {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}




/****************
When click on sidebar toggler and also for tablet
*****************/

.mini-sidebar{
    .page-wrapper {
        margin-left: $mini-sidebar-width;

        .footer {
            left: $mini-sidebar-width;
        }
    }

    .left-sidebar {
        width: $mini-sidebar-width;

        .menuitem-text,
        .user-profile .profile-text {
            display: none;
        }

        .user-profile .profile-trigger{
            display: block;
        }

        .sidebar-nav{
            ul li a {
                font-size: $font-size-xl;
            }

            .has-arrow{
                padding: 9px 18px;
                width: 50px;
                min-width: auto;

                &:after {
                    display: none;
                }
            }

            >ul>li>ul{
                display: none;
            }
        }
    }
}


//@media(max-width:767px) {
//    .responsive-mode {
//        .left-sidebar {
//            position: fixed;
//        }
//        .left-sidebar,
//        .sidebar-footer {
//            left: -240px;
//        }
//        &.show-sidebar {
//            .left-sidebar,
//            .sidebar-footer {
//                left: 0;
//            }
//        }
//    }
//}