$base-font: "Poppins", sans-serif;
$icon-font: normal normal normal 24px/1 "Material Design Icons";

$font-size-xs: .8rem;
// sm: .875  => small font defined in bootstrap vars
// base: 1   => base font defined in bootstrap vars
// $font-size-md
// lg: 1.25  => large font defined in bootstrap vars
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;
$font-size-3: 3rem;
