/*Extra Variable*/
$rgt: right;
$lft: left;
$radius: 4px;
$mini-sidebar-width: 60px;


/*Preloader*/ //TODO: move to page loader component
//.preloader{
//    width: 100%;
//    height: 100%;
//    top:0;
//    position: fixed;
//    z-index: 99999;
//    background: $color-light-base;
//    .cssload-speeding-wheel{
//        position: absolute;
//        top: calc(50% - 3.5px);
//        left: calc(50% - 3.5px);
//    }
//}

